* {
    background-color: silver;
}

.center {
    text-align: center;
}

h1 {
    color: aquamarine;
    border: 7px inset aquamarine;
    margin-bottom: 14px;
    border-width: 12px;
    padding: 6px;
    display: inline-block;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: aquamarine;
}

